* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --Yellow: hsl(47, 88%, 63%);
  --White: hsl(0, 0%, 100%);
  --Gray-500: hsl(0, 0%, 42%);
  --Gray-950: hsl(0, 0%, 7%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: var(--Yellow);
  font-size: 16px;
  width: 100%;
}

#blog_card {
  background-color: var(--White);
  max-width: 350px;
  border: 1px solid var(--Gray-950);
  border-radius: 20px;
  padding: 20px;
  margin: 2rem;
  box-shadow: 8px 8px 0px var(--Gray-950);
}

.blog_image {
  width: 100%;
  height: 100%;
}

.blog_image img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.blog_intro {
  margin-top: 1.8rem;
}

.blog_learning {
  padding: 0.5rem 0.5rem;
  background-color: var(--Yellow);
  font-size: 0.9rem;
  border-radius: 6px;
  font-weight: 800;
}

.blog_intro-text {
  padding-top: 20px;
  font-weight: 500;
  font-size: 1rem;
}

.blog_content {
  margin-top: 1rem;
}

.blog_content h1 {
  font-size: 1.3rem;
  padding-bottom: 17px;
  line-height: 1.4rem;
  letter-spacing: 0.01rem;
  font-weight: 800;
  color: var(--Gray-950);
}

.blog_content h1:hover {
  color: var(--Yellow);
  cursor: context-menu;
}

.blog_content h1:focus {
  color: var(--Yellow);
}

.blog_content p {
  font-size: 1.15rem;
  line-height: 1.3rem;
  letter-spacing: 0.02rem;
  color: var(--Gray-500);
  font-weight: 500;
}

.blog_profile {
  margin-top: 1.5rem;
  display: flex;
  gap: 0.5rem;
}

.blog_profile img {
  width: 2rem;
}

.blog_profile p {
  align-self: center;
  padding-left: 0.4rem;
  font-size: 0.9rem;
  font-weight: 800;
}

@media (max-width: 375px) {
  .blog_card {
    max-width: 300px;
  }

  .blog_content h1 {
    font-size: 1.1rem;
  }

  .blog_content p {
    font-size: 0.95rem;
  }
}
